

body{
	background-color: sandybrown;
	
}
h1{
	text-align: center;	
	block-size:20px ;
	text-decoration-line:underline 



	


}


	


h2{
	background: greenyellow ;
	font-size: 45px;
	text-align: center;


}

h3{
	border: 6px solid skyblue;
	background: cornflowerblue;
	text-align: center;
	font-size: 45px;
}

	h5{
		font-size: 40px;
		text-align: center;
	}


	h4{ border: 3px solid seagreen;
	background-color:white ;
	text-decoration-color:black ;
	font-size: 45px;
	text-align: center;


}


p{
	font-size: 40px;
	background-color: ghostwhite;
	
	border-radius: 100px;
}

 video{
 	width:2000px  ;
 	height:900px ;
 }

 



